.App {
  text-align: center;
}
body{
  background-image: linear-gradient(90deg, #f8fb1e, #19e0e0);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  height: 200px;
  border-radius: 50px;
}

.container{
  min-height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 500px;
  height: 300px;
  color: white;
  cursor: pointer;
  perspective: 1000px;
}
.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}
.front, .back{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #f10c58, #0e1b1b);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.map-img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.card-no{
  font-size: 35px;
  margin-top: 25px;
  padding: 0px 20px;
}
.card-holder{
  font-size: 10px;
}
.name{
  font-size: 25px;
  margin-top: -20px;
}
.bar{
  background: #222;
  margin-left: -30px;
  margin-right: -30px;
  height: 60px;
  margin-top: 10px;
}
.card-cvv{
  margin-top: 20px;
}
.card-cvv div{
  flex: 1;
}
.card-cvv img{
  width: 100%;
  display: block;
  line-height: 0;
}
.card-cvv p{
  background: #fff;
  color: black;
  height: 38px;
  font-size: 25px;
  padding: 10px 20px;
}
.card-text{
  margin-top: 10px;
  font-size: 14px;
}
.back{
  transform: rotateY(180deg);
}
.card:hover .front{
  transform: rotateY(-180deg);
}
.card:hover .back{
  transform: rotateY(0);
}
.credit-form{
  display: absolute;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border: solid black 2px;
  margin-left: 23%;
}
.formcard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
#cardnum{
  width: 45px;
  margin: 10px;
  text-align: center;
}
.holder{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25%;
 
}
#cvv{
  width: 40px;
  margin: 10px;
  text-align: center;
}
.date-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-left: 30%;
}
.vendor-cvv{
  
  align-items: center;
  width: 400px;
  margin-left: 30%;
}
.submit{
  width: 280px;
  height: 60px;
  margin: 20px;
  font-size: 1.8rem;
  border-radius: 30px;
}
.submit:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.gohome{
  position: absolute;
  margin-left: 40%;
  margin-top: 40px;
  font-size: 1.8rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 80px;
  width: 340px;
  opacity: 2;
  background-color: #fbf8f9;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.gohome:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.startbutton{
  position: absolute;
  margin-left: 39%;
  margin-top: 50px;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 120px;
  width: 420px;
  opacity: 2;
  background-color: #fbf8f9;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.startbutton:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.addcardbutton{
  position: absolute;
  margin-left: 42%;
  margin-top: 10px;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 70px;
  width: 340px;
  opacity: 2;
  background-color: #fbf8f9;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.addcardbutton:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.active{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20%;
  width: 1000px;
  border: solid black 3px;
  margin-bottom: 50px;
  padding-right: 90px;
  padding-bottom: 50px;
}

.rest{
  margin-top: 135px;
}


