.App {
  text-align: center;
}
body{
  background-image: linear-gradient(90deg, #f8fb1e, #19e0e0);
}
header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  background-image: linear-gradient(90deg, #0fb668, #19e0e0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 200px;
  border-radius: 50px;
}
.walletname{
  font-size: 3rem;
  color: #09077c;
  
}
.container{
  min-height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 500px;
  height: 300px;
  color: white;
  cursor: pointer;
  perspective: 1000px;
}
.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}
.front1, .back1{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #f10c58, #0e1b1b);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.front2, .back2{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #050505, #0dbe16);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.front3, .back3{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #f7f315, #1612e0);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.front4, .back4{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #440469, #d4f0f1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.front5, .back5{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #3bfb00, #ce0c0c);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.card-no{
  font-size: 35px;
  margin-top: 25px;
  padding: 0px 20px;
}
.card-holder{
  font-size: 10px;
}
.name{
  font-size: 25px;
  margin-top: -20px;
}
.bar{
  background: #222;
  margin-left: -30px;
  margin-right: -30px;
  height: 60px;
  margin-top: 10px;
}
.card-cvv{
  margin-top: 20px;
}
.card-cvv div{
  flex: 1;
}
.card-cvv img{
  width: 100%;
  display: block;
  line-height: 0;
}
.card-cvv p{
  background: #fff;
  color: black;
  height: 38px;
  font-size: 25px;
  padding: 10px 20px;
}
.card-text{
  margin-top: 10px;
  font-size: 14px;
}
.back1{
  transform: rotateY(180deg);
}
.card:hover .front1{
  transform: rotateY(-180deg);
}
.card:hover .back1{
  transform: rotateY(0);
}
.back2{
  transform: rotateY(180deg);
}
.card:hover .front2{
  transform: rotateY(-180deg);
}
.card:hover .back2{
  transform: rotateY(0);
}
.back3{
  transform: rotateY(180deg);
}
.card:hover .front3{
  transform: rotateY(-180deg);
}
.card:hover .back3{
  transform: rotateY(0);
}
.back4{
  transform: rotateY(180deg);
}
.card:hover .front4{
  transform: rotateY(-180deg);
}
.card:hover .back4{
  transform: rotateY(0);
}
.back5{
  transform: rotateY(180deg);
}
.card:hover .front5{
  transform: rotateY(-180deg);
}
.card:hover .back5{
  transform: rotateY(0);
}
.credit-form{
  display: absolute;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(30deg, #ddbd0b, #08c0c0);
  width: 1000px;
  border: solid black 4px;
  border-radius: 25px;
  margin-left: 23%;
}
.formcard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
#cardnum{
  width: 45px;
  margin: 10px;
  text-align: center;
}
.holder{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25%;
}
#cvv{
  width: 40px;
  margin: 10px;
  text-align: center;
}
.date-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-left: 30%;
}
.vendor-cvv{
  align-items: center;
  width: 400px;
  margin-left: 30%;
}
.submit{
  width: 280px;
  height: 60px;
  margin: 20px;
  font-size: 1.8rem;
  border-radius: 30px;
}
.submit:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.gohome{
  position: absolute;
  margin-left: 40%;
  margin-top: 100px;
  font-size: 1.8rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 80px;
  width: 340px;
  opacity: 2;
  background-color: #fbf8f9;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.gohome:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.startbutton{
  position: absolute;
  margin-left: 39%;
  margin-top: 50px;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 120px;
  width: 420px;
  opacity: 1;
  background-color: #e1ecec;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.startbutton:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.addcardbutton{
  position: absolute;
  margin-left: 42%;
  margin-top: 10px;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 70px;
  width: 340px;
  opacity: 2;
  background-color: #fbf8f9;
  border: 1px solid rgba(11, 11, 12, 0.6)
}
.addcardbutton:hover{
  color: rgb(3, 3, 3);
  box-shadow: 0 10px 30px rgba(145, 92, 182, .4);
}
.active{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #e1ecec;
  background-image: linear-gradient(45deg, #080802, #f1ef7f);
  margin-left: 20%;
  width: 1000px;
  border: solid black 3px;
  margin-bottom: 50px;
  padding-right: 90px;
  padding-bottom: 50px;
}
.rest{
  margin-top: 100px;
}
.max{
  font-size: 3rem;
  color: #09077c;
  margin-bottom: -300px;
}
.success{
  position: relative;
  font-size: 3rem;
  margin-top: 100px;
  animation-name: moving;
  animation-duration: 12s;
}
@keyframes moving {
  0%   {color:rgb(4, 0, 255); left:0px; top:0px;}
  20%  {-color:rgb(0, 76, 255); left:600px; top:0px;}
  40%  {color:rgb(12, 47, 45); left:600px; top:400px;}
  60%  {color:rgb(23, 0, 128); left:-600px; top:400px;}
  80% {color:rgb(29, 26, 26); left:-600px; top:0px;}
  100% {color:#09077c; left: 0px; top: 0px;}
}


